<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="学生登录.html" />
                <add value="违期处罚.html" />
                <add value="图书.html" />
                <add value="借阅.html" />
                <add value="管理员登录.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
