@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
html {
    font-size: 16px;
    font-family: couriernew, courier, monospace;
}
.top_header{
    display: flex;
    height: 3rem;
    padding: .5rem;
    flex-direction: row;
}
.logo{
    display: flex;
    flex: 3;
    align-items: center;
}
.logo>a{
    display: inline-block;
}
.logo>a img{
    vertical-align: middle;
}
.menu{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.nav{
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    line-height: 2.1rem;
    background-color: #e9500c;
    text-align: center;
    font-size: 31px;
}
.menu_list{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.25);
}
.close{
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.5rem;
    background-color: #e9500c;
    text-align: center;
    font-size: 31px;
    float: right;
    margin: .5rem;
    color: white;
}
.menu_info{
    background-color: #e9500c;
    clear: both;
}
.menu_info a{
    color: #fff;
}
.menu_info_data li{
    color: #fff;
    line-height: 2rem;
    font-size: 0.9rem;
    padding: 0 0.5rem 0 1.5rem;
}
.w_bot{
    border-bottom: 1px solid rgba(255, 255, 255, 0.56);
}

.s_menu{
    float: right;
    font-size: .8rem;
    transition: all .2s ease-in;
}
.rotateDEG{
    transform: rotate(90deg);
}
.child_menu{
    display: none;
}
.c_content{
    position: relative;
    height: 15rem;
}
.banner{
    width: 100%;
    height: 100%;
}
.banner>img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.c_search_info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 1rem;
    flex-wrap: wrap;
    align-content: space-around;
}
.c_info{
    width: 100%;
    height: 5rem;
    text-align: center;
    zoom: 0.8;
    background-color: rgba(35, 154, 255, 0.32);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}
.c_info>strong{
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 1rem;
}
.c_info>p{
    color: #fff;
    text-transform: uppercase;
}
.c_search{
    width: 100%;
    height: 2.5rem;
    padding: 0 2rem;
}
.search_item{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}
.search_item input{
    flex: 4;
    padding-left: 1.5rem;
    border: none;
}
.search_item span{
    flex: 1;
    text-align: center;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #e9500c;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
.items_other{
    width: 33.33%;
    height: auto;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    text-align: center;
    padding: 1.2rem 0;
}
.items_other>img{
    width: 2.2rem;
    height: 2.2rem;
}
.items_other>a{
    display: block;
    font-size: 0.8rem;
    margin: .5rem 0;
}
.items_other>span{
    font-weight: 700;
    font-size: 2.5rem;
}
.main{
    padding: 0.5rem 0.5rem 0;
}
.main_title{
    border-bottom: 1px solid #cbcbcb;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    align-items: center;
}
.main_title_l{
    white-space: nowrap;
}
.main_title_r{
    text-transform: uppercase;
    color: #666;
    font-size: 0.8rem;
    padding: 0.5rem;
}
.main_banner{
    padding: 0.5rem 0;
}
.main_banner>img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.main_content{
    color: #000;
    font-size: 0.9rem;
    line-height: 1.3rem;
    overflow: hidden;
}
.main_more{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.a_more{
    float: right;
}
.main_imagelist{
    display: flex;
    flex-direction: column;
}
.main_imagelist>div{
    margin-top: 0.5rem;
    position: relative;
    display: flex;
}

.main_imagelist_1>.ceng{
    background-color: rgba(32, 144, 255, 0.61);
}

.ceng{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2rem;
    width: 60%;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
}
.main_imagelist>div>img{
    width: 100%;
    vertical-align: middle;
}
.main_imagelist_2>.ceng{
    background-color: rgba(255, 151, 49, 0.61);
}
.main_imagelist_3>.ceng{
    background-color: rgba(217, 255, 163, 0.61);
}
.main_tea_lsit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.main_tea_lsit>div{
    width: 49%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
.main_tea_lsit_a>img{
    width: 100%;
    vertical-align: middle;
}
.main_tea_lsit>div>p{
    margin: 1rem 0 0;
}
.text_over{
    display: box;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #424242;
}
.main_mar{
    margin-right: 0 !important;
}
.main_news{
    padding: 1rem 0 0.5rem;
    display: flex;
    flex-direction: column;
}
.news_list{
    position: relative;
    padding-bottom: 0.5rem;
    overflow: hidden;
}
.news_list>p{
    margin: 0.5rem 0 0;
}
.news_list:after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
}
.fot_title{
    display: flex;
    flex-direction: column;
    background-color: rgb(59,74,89);
}
.footer_call{
    color: #fff;
    border-bottom: 1px solid #c7c7c7;
    text-align: center;
    padding: 1.2rem 0;
}
.tel{
    font-size: 1.5rem;
}
.erweima{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.erweima>div{
    margin-right: 1rem;
    width: 8rem;
}
.erweima>div>img{
    width: 100%;
}
.main_mar{
    margin-right: 0 !important;
}
.footer_txt{
    text-align: center;
    color: #b9b9b9;
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: 1.4rem;
    word-break: break-all;
    padding: 1rem 0.5rem;
}