@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    background-color: #f4f4f4;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #999;
}
i{
    color: #666;
    font-style: normal;
}
#shortcut{
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#shortcut .w{
    height: 30px;
    line-height: 30px;
    color: #999;
}
.w{
    width: 1190px;
    margin: auto;
}
.f1{
    float: left;
}
.iconfont{
    font-size: 14px;
    color: #f10215;
    margin-right: 4px;
}
.dropdown>span:hover .dropdown>a:hover{
    color: #f10215;
}
.cart:hover{
    border: 1px solid red;
}
#hotwords>a:hover{
    color: #f10215;
}
#navitems>ul>li>a:hover{
    color: #f10215;
}
.fr{
    float: right;
}
.style_red{
    color: #f10215!important;
}
#shortcut li{
    float: left;
}
.spacer{
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 11px 5px 0;
}
.fr .iconfont{
    margin: 0 auto;
    position: absolute;
    right: 1px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    color: #999;
}
.dt{
    padding-left: 7px;
    padding-right: 7px;
}
.cw-icon{
    padding-left: 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    padding-right: 20px;
}
.dropdown{
    margin-right: 8px;
    z-index: 20;
}
.shortcut_btn a:hover,.dt a:hover{
    color: #e33333;
}


#header{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
#header .w{
    height: 140px;
    position: relative;
}
.w>img{
    width: 190px;
    height: 120px;
    top: 10px;
    left: 0;
    position: absolute;
    background-color: #fff;
}
.logo>img{
    width: 100%;
}
.search{
    position: relative;
    height: 60px;
}
.form{
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background: #fff;
}
.search_bg{
    left: 0;
    position: absolute;
    padding: 2px 44px 2px 17px;
    width: 425px;
    height: 26px;
    line-height: 26px;
    border: 1px solid transparent;
    font-size: 12px;
    color: #989898;
}
.text{
    position: absolute;
    width: 425px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #989898;
    border: 1px solid transparent;
    padding: 2px 44px 2px 17px;
    outline: none;
    background-color: transparent;
}
.cam>.iconfont{
    display: block;
    width: 20px;
    height: 15px;
    text-align: center;
    color: #9f9f9f;
    cursor: pointer;
    position: absolute;
    right: 75px;
    top: 7px;
}
.button{
    position: absolute;
    border-radius: 0;
    right: 0;
    width: 58px;
    height: 32px;
    line-height: 32px;
    background-color: #e1251b;
    border: 0;
}
.button>.iconfont{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.cart{
    position: absolute;
    right: 230px;
    top: 25px;
    width: 130px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e3e4e5;
}
.cart>.iconfont{
    position: absolute;
    color: #e1251b;
    left: 13px;
    text-align: center;
    margin-right: 13px;
    font-size: 16px;
}
.cart>a{
    position: absolute;
    color: #e1251b;
    left: 43px;
}
.shopping-amount{
    position: absolute;
    left: 24px;
    top: 2px;
    line-height: 12px;
    color: #fff;
    border-radius: 50%;
    padding: 1px 3px;
    background-color: #e1251b;
}

#hotwords{
    position: absolute;
    width: 550px;
    height: 20px;
    line-height: 20px;
    left: 260px;
    top: 65px;
}
#hotwords>a{
    float: left;
    margin-right: 10px;
    color: #999;
}


#navitems{
    position: absolute;
    left: 203px;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
}
#navitems .kong{
    width: 0;
    height: 13px;
}
#navitems ul,#navitems li,#navitems .kong{
    float: left;
}
#navitems li{
    margin-left: 1px;
}
#navitems a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin: 0 11px;
    color: #333;
}
.w1{
    font-weight: 700;
    color: #e1251b!important;
}

#treasure{
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 190px;
    height: 120px;
}
#treasure>a{
    position: relative;
    display: block;
    background-position: bottom;
}

.fs .fs_inner{
    position: relative;
}
.fs{
    margin-bottom: 30px;
    background-color:  #f4f4f4;
}
.fs_inner{
    z-index: 1;
    height: 480px;
    background-color: #f4f4f4;
}
.grid_c1{
    margin: 0 auto;
    width: 1190px;
}
.fs_col1, .fs_col2{
    float: left;
    height: 480px;
    margin-right: 10px;
}
.fs_col1{
    width: 190px;
}
.J_cate{
    position: relative;
    z-index: 3;
}
.cate_menu{
    overflow: hidden;
    padding: 10px 0;
    height: 450px;
    background-color: #fefefe;
    color: #636363;
    margin-top: 10px;
}
.J_cate .cate_menu_item{
    height: 25px;
    line-height: 25px;
}
.cate_menu_item {
    overflow: hidden;
    padding-left: 18px;
    height: 27px;
    line-height: 27px;
    font-size: 0;
}
.cate_menu_item>span{
    padding: 0 2px;
    font-size: 12px;
}
.cate_menu_lk {
    font-size: 14px;
    color: #333;
}
.J_popCtn{
    position: absolute;
    left: 191px;
    top: 0;
    width: 998px;
    min-height: 468px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    display: none;
}
.cate_menu_item:hover {
    background-color: #ccc;
}
.cate_menu_item > a:hover {
    color: #d50000;
}
.J_cate:hover ul.cate_menu>li.cate_menu_item>a.cate_menu_lk:nth-child(1){
}
.J_cate:hover+.J_popCtn{
    display: block;
}
.cate_part {
    padding: 20px 0 10px;
}
.cate_part_col1 {
    float: left;
    width: 800px;
}
.cate_channel {
    overflow: hidden;
    padding-left: 20px;
    height: 24px;
}
.cate_channel_lk {
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}
.cate_channel .iconfont{
    font-family: iconfont,sans-serif;
    font-style: normal;
    margin-left: 5px;
    color: #fff;
}
.cate_detail {
    overflow: hidden;
    padding: 10px 0 0 20px;
}
.cate_detail_item {
    position: relative;
    padding-left: 80px;
    color: #666;
}

.cate_detail_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 6px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    color: #333;
}
.cate_detail_item .iconfont{
    font-family: iconfont,sans-serif;
    font-style: normal;
    margin-left: 5px;
    color: #333;
}
.cate_detail_con {
    overflow: hidden;
    padding: 5px 0;
}
.cate_detail_con_lk {
    float: left;
    margin: 3px 0;
    padding: 0 7px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
}
.cate_part_col2 {
    float: left;
    width: 198px;
}
.cate_brand {
    margin: auto;
    width: 168px;
    font-size: 0;
}
.cate_brand_lk {
    overflow: hidden;
    display: inline-block;
    width: 83px;
    height: 35px;
    margin: 0 0 1px 1px;
    background-color: #e7e7e7;
}
.cate_brand_lk>img {
    position: relative;
    top: 0;
    border: 0;
    vertical-align: middle;
    width: 83px;
    height: 35px;
}
.cate_promotion {
    margin: 10px auto 0;
    width: 168px;
}
.cate_promotion_lk {
    display: block;
    margin-bottom: 1px;
    height: 134px;
    background-color: #e7e7e7;
}
.cate_promotion_lk>img {
    border: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    top: 0;
}
.fs_act {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 10px;
}
.fs_act_wp {
    display: block;
    position: absolute;
    left: 0;
    top: 167px;
    width: 100%;
}
.fs_act_lk{
    display: block;
    background: url("../image/8b2a07543745b959.png.webp") 50% 0px no-repeat;
    height: 710px;
}
.fs_col2{
    width: 790px;
    float: left;
}
.focus{
    position: relative;
    margin-top: 10px;
    height: 470px;
}
.sliderBannerWarper{
    position: relative;
    float: left;
    width: 590px;
    height: 470px;
    background-color: #fff;
}
.sliderBannerWarper img{
    width: 590px;
    height: 470px;
}
.sliderBannerItem{
    float: right;
    width: 190px;
    background-color: #fff;
}
.silderBannerItemwarper{
    position: relative;
    overflow: hidden;
}
.radiusleft{
    border-radius: 0 50% 50% 0;
    left: 0;
    top: 220px;
}
.w2{
    position: absolute;
    z-index: 4;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-style: none;
    background-color: rgba(204, 204, 204, 0.65);
}
.w2 .iconfont{
    font-size: 16px;
    color: #fff;
}
.silderBannerItemwarper_list{
    position: relative;
    width: 190px;
    height: 150px;
}
.silderBannerItemwarper_list img{
    width: 190px;
    height: 150px;
}
.radiusright{
    border-radius: 50% 0 0 50%;
    right: 0;
    top: 220px;
}
.fs_col3{
    position: relative;
    float: right;
    width: 190px;
    height: 480px;
}
.J_user{
    height: 102px;
    margin-top: 10px;
    background-color: #fff;
}
.user_inner{
    position: relative;
    padding-top: 67px;
    height: 35px;
}
.user_avatar{
    position: absolute;
    top: 13px;
    left: 20px;
    width: 44px;
    height: 44px;
}
.user_avatar_lk{
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.user_avatar_lk img{
    width: 40px;
    height: 40px;
}
.user_show{
    position: absolute;
    top: 16px;
    left: 74px;
    right: 10px;
}
.user{
    color: #333;
}
.user_profit{
    position: absolute;
    top: 77px;
    left: 16px;
    height: 25px;
    font-size: 0;
    text-align: center;
}
.user_profit_lk{
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background-color: #e1251b;
}
.user_profit_lk_plus{
    background-color: #363634;
    color: #e5d790;
}
.J_user:after{
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: -webkit-gradient(linear,right top,left top,from(white),color-stop(#eeeeee),color-stop(#eeeeee),to(white));
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: " ";
    top: 111px;
}
.J_news{
    height: 130px;
    background-color: #fff;
}
.news_hd{
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}
.news_tit{
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
    color: #333;
}
.news_more{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}
.news_more>.iconfont{
    font-size: 5px;
    color: #999;
}
.news_list{
    position: relative;
    margin: 0 15px;
    height: 88px;
}
.news_item{
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}
.news_link{
    color: #666;
}
.news_tag{
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    height: 16px;
    line-height: 16px;
    width: 35px;
    text-align: center;
    margin-right: 6px;
}
.J_service{
    position: relative;
    height: 238px;
}
.service_entry{
    padding: 5px .5px;
    background-color: #fff;
}
.J_tab_head{
    padding-top: 5px;
    height: 225px;
}
.service_item{
    overflow: visible;
    position: relative;
    float: left;
    width: 63px;
    height: 55px;
    background-color: #fff;
    text-align: center;
}
.service_lk{
    display: block;
    position: relative;
    color: #666;
}
.service_ico{
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}
.service_ico_img{
    display: block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}
.service_txt{
    display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    color: #333;
}
.service_corner{
    position: absolute;
    right: 5px;
    top: 0;
    width: 13px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background-color: #e1251b;
}
.service_corner_txt{
    vertical-align: top;
    color: #fff;
}
.J_service:after{
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    right: 15px;
    height: 1px;
    background: linear-gradient(to left, #fff, #cbcbcb, #cbcbcb, #fff);
}
.toolbar-scroll{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
}
.scroll-image{
    position: absolute;
    top: 0;
    right: -6px;
    width: 90px;
    height: 200px;
    background: url("../image/23c1f4b1bae4ee35.png") no-repeat;
}
#elevator{
    position: fixed;
    top: 200px;
    right: 80px;
    background-color: #fff;
    z-index: 99;
}
.elevator_list>a{
    display: block;
    width: 38px;
    height: 38px;
    padding: 10px;
    color: #333;
    line-height: 19px;
    text-align: center;
    font-size: 14px;
}
.elevator_list_active>img{
    position: absolute;
    width: 58px;
    top: 57px;
    left: 0;
}
.elevator_list .iconfont{
    font-size: 20px;
}
.w3>a{
    color: #e1251b;
}
#app{
    background-color: #f4f4f4;
}
#J_seckill{
    position: relative;
}
.seckill{
    height: 260px;
    margin-bottom: 20px;
}
.jd_container{

    width: 1190px;
    margin: auto;
    height: 100%;
}
.seckill-countdown{
    position: relative;
    float: left;
    width: 190px;
    height: 100%;
    color: #fff;
    background-color: #e83632;
    background-image: url("../image/miao.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.seckill-countdown .countdown-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
}
.countdown-desc{
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
}
.countdown-desc strong{
    font-size: 18px;
    padding-right: 2px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
}
.timmer{
    margin-right: auto;
    margin-left: auto;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    display: block;
    color: #333;
    font-weight: 700;
}
.timmer__unit{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.timmer__unit--second{
    margin-right: 0;
}
.seckill-list{
    position: relative;
    float: left;
    width: 800px;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}
.slider_control{
    position: absolute;
    top: 50%;
    border-radius: 0;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    border: 0;
    text-align: center;
    cursor: pointer;
}
.slider_control .iconfont{
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
}
.slider_control_prev{
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.slider_list{
    position: relative;
    width: 800px;
    overflow: hidden;
    top: 1px;
}
.slider_item{
    position: relative;
    width: 197px;
    height: 260px;
    display: inline-block;
}
.lazyimg{
    width: 140px;
    height: 140px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.lazyimg_img{
    opacity: 1;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.seckill-item__name{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.seckill-item__price{
    width: 160px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e1251b;
    background-color: #e1251b;
    margin: 7px auto 0;
    box-sizing: border-box;
    overflow: hidden;
}
.price-miaosha{
    position: relative;
    float: left;
    display: block;
    width: 92px;
    height: 100%;
    color: #fff;
    background-color: #e1251b;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.seckill-item__price .money{
    font-size: 12px;
    margin-right: 2px;
    color: #fff;
    font-weight: 700;
}
.price-miaosha:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 8px 0 0;
    border-color: transparent #fff transparent transparent;
}
.price-origin{
    text-decoration: line-through;
    display: block;
    float: left;
    width: 66px;
    height: 100%;
    color: #999;
    background-color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
}
.price-origin .money1{
    margin-right: -4px;
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
.slider_control_next{
    border-radius: 18px 0 0 18px;
    right: 0;
}
.seckill-brand{
    position: relative;
    width: 200px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
}
.seckill-brand_silder{
    overflow: hidden;
    width: 180px;
}
.silder-item {
    display: block;
    float: left;
    width: 180px;
    height: 240px;
}
.slider_item:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -100px;
    width: 1px;
    height: 200px;
    background: linear-gradient(to top, #fff, #e1e1e1, #e1e1e1, #f4f4f4);
}
.item_image {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
}
.item_image > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.item-info {
    width: 100%;
    height: 90px;
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, .5), rgba(220, 224, 236, .5));
    text-align: center;
    font-size: 14px;
}
.item-title {
    color: #666;
}
.item-pro {
    color: #333;
    font-weight: 700;
}
.item-btn {
    display: inline-block;
    width: 82px;
    height: 24px;
    border-radius: 14px;
    color: #e1251b;
    border: 1px solid #e1251b;
    text-align: center;
    margin-top: 4px;
    line-height: 22px;
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item-btn > i {
    font-size: 12px;
}
.silder_brandmenu {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 12px;
    text-align: center;
}
.silder_brandmenu > i {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #999;
    border-radius: 50%;
}
.activity-floor {
    margin: 30px 0;
}
.activity-floor__container {
    margin: 0 auto;
    width: 1270px;
    height: 590px;
    background: url("../image/33822ee26b584ab5.jpg!cc_1270x590.webp");
    background-size: cover;
    box-sizing: border-box;
    padding-top: 146px;
}
.jd_contarin {
    position: relative;
    margin: 0 auto;
    width: 1202.5px;
    overflow: hidden;
}
.activity-floor__link {
    position: absolute;
    left: 0;
    top: -146px;
    height: 140px;
    width: 100%;
    z-index: 2;
}
.activity-floor__skus {
    width: 1000px;
    float: left;
}
.floor_item {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 190px;
    height: 210px;
    margin-bottom: 10px;
}
.lazyimage {
    height: 100%;
}
.lazyimage > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.sku-good {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 30px;
    top: 7px;
}
.sku-good > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.sku-desc {
    position: absolute;
    width: 174px;
    height: 30px;
    left: 8px;
    top: 144px;
}
.lazyimage {
    height: 100%;
}
.lazyimage > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.sku-text {
    position: absolute;
    width: 174px;
    top: 6.5px;
    left: 0;
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
}
.sku-title {
    position: absolute;
    width: 190px;
    height: 16px;
    font-size: 16px;
    color: #de452b;
    line-height: 16px;
    left: 0;
    bottom: 12px;
    text-align: center;
}
.activity-floor__shops {
    width: 190px;
    float: left;
}
.shop-item {
    display: block;
    margin-bottom: 10px;
}
.shop-item > img {
    width: 100%;
    vertical-align: middle;
}
#J_space{
    margin-top: 30px;
}
.J_core1 {
    height: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.w {
    margin: 0 auto;
    width: 1190px;
}
.grid_col {
    overflow: hidden;
}
.grid_1, .grid_2 {
    width: 590px;
    height: 340px;
    float: left;
    background-color: #fff;
    margin-right: 10px;
}
.box-hd {
    padding: 0 20px;
    height: 60px;
    font-size: 0;
}
.box-hd > a {
    display: inline-block;
    margin: 12px 0 0;
}
.box-hd h3 {
    display: inline-block;
    font-size: 24px;
    color: rgb(51, 51, 51);
}
.box-hd i {
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 0 0 10px;
    background-image: url("../image/spriteinfo.png");
    background-position: -16px 0;
}
.box-bd {
    position: relative;
    padding: 0 15px 15px;
}
.tab_head {
    position: absolute;
    top: -39px;
    right: 0;
}
.tab_head > a {
    position: relative;
    color: #505050;
    font-size: 14px;
    margin: 0 13px;
}
.body_item {
    width: 560px;
    height: 270px;
}
.special_item_0 {
    float: left;
    width: 170px;
    height: 265px;
    background-color: rgba(109, 126, 146, .05);
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.special_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 170px;
    height: 89px;
}
.special_item_link {
    display: inline-block;
    width: 170px;
}
.link_a {
    margin: 46px auto 0;
    width: 120px;
    height: 120px;
}
.link_a > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.link_title {
    text-align: center;
}
.link_title > p {
    display: inline-block;
    text-align: center;
    width: 150px;
    font-size: 14px;
    color: #333;
    margin-top: 9px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link_price_now {
    color: #d60000;
    font-weight: 700;
    font-size: 16px;
}
.link_price_now > i, .link_price_orign > i {
    font-size: 12px;
    font-style: normal;
}
.now {
    color: #d60000;
}
.link_price_orign {
    text-decoration: line-through;
}
.special_item_3, .special_item_1, .special_item_2, .special_item_4 {
    margin-left: 19px;
    margin-top: 18px;
    margin-bottom: 48px;
}
.special_item_lk {
    display: block;
}
.lazy-img {
    width: 84px;
    height: 84px;
    float: left;
    background-color: red;
}
.lazy-img > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.special_txt {
    position: absolute;
    width: 84px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    left: 0;
    bottom: 0;
    font-size: 11px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    white-space: nowrap;
}
.special_item_message {
    float: left;
    margin-left: 6px;
    width: 75px;
    position: relative;
}
.special_item_message_name {
    color: #333;
    display: inline-block;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    word-break: break-all;
}
.special_item_message_price_now {
    font-size: 14px;
    font-weight: 700;
    color: #e1251b;
}
.special_item_message_price_now > i, .special_item_message_price_orign > i {
    font-style: normal;
    font-size: 10px;
}
.special_item_message_price_orign {
    font-size: 6px;
    text-decoration: line-through;
}
.special_item_message_old {
    position: absolute;
    color: #999;
}
.special_item_message_old > span {
    color: #e1251b;
}
.grid_c2 {
    margin-right: 0;
}
.box-hd {
    padding: 0 20px;
    height: 60px;
    font-size: 0;
}
.box-hd > a {
    display: inline-block;
    margin: 12px 0 0;
}
.box-hd h3 {
    display: inline-block;
    font-size: 24px;
    color: rgb(51, 51, 51);
}
.box-hd i {
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 0 0 10px;
    background-image: url("../image/spriteinfo.png");
    background-position: -16px 0;
}
.goods-core {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    width: 270px;
    height: 265px;
    vertical-align: top;
}
.core-logo {
    display: block;
    width: 70px;
    height: 35px;
    margin: 15px auto 0;
}
.core-name {
    margin-top: 6px;
    text-align: center;
    font-weight: 700;
    color: #333;
    font-size: 16px;
}
.core-desc {
    margin: 1px auto 15px;
    text-align: center;
}
.core-desc_man, .core-desc_desc {
    position: relative;
    color: #666;
    font-size: 12px;
}
.core-desc_desc {
    padding-left: 5px;
}
.core-desc_man, .core-desc_desc {
    position: relative;
    color: #666;
    font-size: 12px;
}
.core-desc_desc > i {
    margin: 0 2px;
    font-style: normal;
    font-weight: 700;
}
.core-image {
    display: block;
    width: 130px;
    height: auto;
    margin: 0 auto;
}

.goods-others {
    display: inline-block;
    width: 270px;
    height: auto;
    vertical-align: top;
    margin-top: -40px;
    font-size: 0;
}
.other-item {
    position: relative;
    display: inline-block;
    width: 135px;
    height: 100px;
    padding: 14px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.other-item__logo {
    width: 100px;
    height: 50px;
    margin: 0 auto;
}
.other-item__logo > img {
    width: 100%;
    vertical-align: middle;
}
.other-item__name {
    font-size: 12px;
    color: #666;
    margin-top: 6px;
    text-align: center;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.other-item:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -30px;
    width: 1px;
    height: 60px;
    background: linear-gradient(180deg, white, #eeeeee, #eeeeee, white);
}
.core-desc_man:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    right: -5px;
    top: 3px;
    background-color: #666;
}
.goods-core:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(245, 175, 175, .05), rgba(79, 3, 3, .05));
}
.nice-goods {
    margin-bottom: 20px;
    height: 260px;
    position: relative;
    padding-left: 190px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.nice-goods__logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    height: 100%;
    background: url("../image/c78710f134c8845d365aa5028230db9f.png") no-repeat;
    background-size: contain;
}

.logo-container {
    width: 160px;
    height: 90px;
    margin: 15px auto 0;
    background: url("../image/bg.png") no-repeat;
    background-size: contain;
}

.logo-text {
    padding: 55px 0 0 35px;
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
}

.logo-text > i {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url("../image/spriteinfo.png") no-repeat;
    background-position: 0 -16px;
}

.logo-container:hover .logo-text > i {
    background-position: 0 0;
}

.nice-goods__recommends {
    position: relative;
    margin-left: 10px;
    height: auto;
    overflow: hidden;
    padding: 10px 0 20px;
}

.goods {
    display: inline-block;
    width: 150px;
    margin-right: 50px;
    vertical-align: top;
}

.good_image {
    width: 150px;
    margin: 0 auto;
}

.good_image > img {
    width: 100%;
    vertical-align: middle;
}

.good_name {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;

}

.goods--bottom {
    margin-top: 50px;
}

.goods--top {
    margin-top: 20px;
}

.good_lists {
    width: 1200px;
    font-size: 0;
}

.scroll-bar {
    position: absolute;
    width: 980px;
    left: 0;
    bottom: 10px;
    height: 3px;
    background-color: #cccccc;
    border-radius: 10px;
}

.scroll-btn {
    position: absolute;
    width: 100px;
    height: 8px;
    left: 0;
    top: -2.5px;
    border-radius: 10px;
    background-color: #9e9e9e
}

.core2 {
    width: 1190px;
    height: 340px;
    margin: 20px auto;
}

.box {
    float: left;
    height: 340px;
    margin: 0 10px 0 0;
}

.newArrival {
    overflow: hidden;
    background: url("../image/bgbg.png") no-repeat;
    background-size: contain;
}

.newArrival, .newTop, .niceshop, .coppon {
    width: 290px;
    background-color: #fff;
}

.last_box {
    margin-right: 0;
}

.newArrival_silder {
    width: 260px;
    height: 250px;
    margin: 0 auto;
}

.sliderlist {
    position: relative;
    height: 250px;
}

.sliderlistbanner {
    width: 390px;
    margin-left: -65px;
}

.list {
    width: 130px;
    display: inline-block;
    height: 250px;
    float: left;
}

.list > a {
    display: block;
}

.sliderlist_1, .sliderlist_3 {
    transform: scale(.8);
}

.sliderlist_2 {
    transform: scale(1.1);
}

.list_img {
    width: 130px;
    margin-top: 10px;
}

.list_img > img {
    width: 100%;
    vertical-align: middle;
}

.list_info_name {
    margin-top: 20px;
    margin-bottom: 4px;
    color: #333;
    font-size: 14px;
    width: 200px;
    margin-left: -35px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_info_txt {
    color: #666;
    font-size: 12px;
    text-align: center;
    width: 200px;
    margin-left: -35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_info_price {
    color: #d80000;
    font-size: 18px;
    margin-top: 20px;
}

.list_info_price > i {
    font-size: 13px;
    font-style: normal;
}

.tab {
    width: 290px;
    padding: 0 5px;
}

.tab-head {
    font-size: 0;
}

.tab-head > a {
    display: inline-block;
    max-width: 70px;
    width: 62px;
    height: 20px;
    line-height: 20px;
    margin: 0 4px;
    text-align: center;
    border-radius: 12px;
    color: #999;
    font-size: 12px;
    background-color: #f6f6f6;
}

.tab-head > a:hover {
    background-color: #df0000;
    color: #fff;
}

.tab_body_list > div {
    position: relative;
    width: 260px;
    height: 70px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.tab_body_list_icon {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 28.8px;
    height: 40.8px;
    margin-top: -20.4px;
    background: url("../image/mbg1.png") no-repeat;
    background-size: contain;
}

.tab_body_list_img {
    width: 70px;
    height: 70px;
    margin-left: 40px;
}

.tab_body_list_img > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.tab_body_name {
    position: absolute;
    width: 140px;
    right: 0;
    top: 50%;
    margin-top: -1.3em;
    font-size: 14px;
    line-height: 1.3em;
    max-height: 2.6em;
    overflow: hidden;
}

.tab_bodynumber {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 0;
}

.tab-body {
    margin-top: 15px;
}

.nice-shop__container {
    padding: 0 15px;
}

.nice-shop-list1 {
    position: relative;
    display: block;
    width: 260px;
    height: 128px;
    margin-bottom: 10px;
    padding: 15px 125px 15px 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.nice-shop-image {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 100px;
    height: 100px;
}

.nice-shop-image > img {
    width: 100%;
}

.nice-title {
    font-size: 14px;
    color: #333;
    line-height: 1.3em;
    max-height: 2.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*设置几行*/
    -webkit-box-orient: vertical;
}

.nice-tags {
    margin-top: 5px;
}

.tags {
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    padding: 0 2px;
    display: inline-block;
    height: 18px;
    line-height: 17px;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin-right: 5px;
}

.nice-tags-1 {
    color: #e2231a;
    border-color: #e2231a;
}

.nice-tags-2 {
    color: #596fab;
    border-color: #596fab;
}

.nice-soc {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 13px;
    color: #333;
}

.coppon .box-bd {
    background: url("../image/ab4b10750f3da259165a76e30074f504.png") no-repeat;
    background-size: contain;
}

.coppon-inner {
    height: 280px;
}

.coppon-list {
    position: relative;
    height: 82px;
    display: block;
    margin-bottom: 3px;
}

.coppon-content {
    margin-right: 40px;
    height: 100%;
    overflow: hidden;
}

.coppon-more {
    position: absolute;
    top: 0;
    right: 5px;
}

.coppon-content-img {
    margin: 8px 0 0 7px;
    float: left;
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
}

.coppon-content-img > img {
    width: 100%;
}

.copon-info {
    padding-top: 8px;
    margin-left: 80px;
    margin-top: 5px;
}

.copon-info-price {
    color: #bd0000;
    font-size: 14px;
    font-weight: 700;
}

.copon-info-price > i {
    font-style: normal;
    font-size: 12px;
}

.copon-info-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coppon-more > span {
    display: inline-block;
    width: 1px;
    line-height: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

.coppon-more > i {
    vertical-align: middle;
    zoom: .5;
}

.coppon-more {
    line-height: 82px;
}

.floorhd {
    height: 65px;
}

.floorhd_tit {
    position: relative;
    width: 150px;
    height: 45px;
    margin: 0 auto 20px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    padding: 0 30px;
    text-align: center;

}

.floorhd_tit:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 20px;
    background: url("../image/title.png") no-repeat;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.floorhd_tit:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 20px;
    background: url("../image/title.png") no-repeat;
    background-position: -25px 0;
    right: 0;
    top: 50%;
    margin-top: -10px;
}

.channels_block {
    position: relative;
    padding-left: 600px;
    width: 600px;
}

.channels_block {
    font-size: 0;
}

.channels_item {
    display: inline-block;
    font-size: 13px;
    width: 290px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.channels_item_1, .channels_item_2 {
    height: 370px;
}

.channels_item_1, .channels_item_2, .channels_item_3, .channels_item_4, .channels_item_5, .channels_item_6, .channels_item_7, .channels_item_8 {
    position: absolute;
}

.channels_item_1, .channels_item_3, .channels_item_5, .channels_item_7 {
    left: 0;
}

.channels_item_2, .channels_item_4, .channels_item_6, .channels_item_8 {
    left: 300px;
}

.channels_item_1, .channels_item_2 {
    top: 0;
}

.channels_item_3, .channels_item_4 {
    top: 380px;
}

.channels_item_5, .channels_item_6 {
    top: 570px;
}

.channels_item_7, .channels_item_8 {
    top: 760px;
}

.channels_item_link {
    display: block;
    width: 100%;
    height: auto;
}

.channels_item_link > img {
    width: 100%;
}

.channels_item_title {
    display: block;
    margin-left: 30px;
    margin-right: 10px;
    padding: 17px 0 13px 0;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channels_item_title_1 {
    font-size: 22px;
    font-weight: 700;
    color: #333;
}

.channels_item_title_2 {
    font-size: 14px;
    color: #999;
    margin-left: 5px;
    vertical-align: bottom;
}

.channels_item_imgs {
    padding-left: 30px;
    font-size: 0;
}

.channels_item_imgs_link {
    margin-right: 30px;
    display: inline-block;
}

.channels_item_imgs_link > img {
    width: 100px;
    height: 100px;
}

.channelsB {
    margin-bottom: 20px;
}

.feed-tab-wrapper {
    margin-bottom: 10px;
    background-color: #fff;
}

.feed-tab {
    width: 1080px;
    height: 60px;
    margin: 0 auto;
}

.feed-tab > li {
    position: relative;
    width: 180px;
    height: 60px;
    float: left;
    text-align: center;
}

.feed-tab__item-title {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    color: #333;
}

.feed-tab__item-desc {
    font-size: 14px;
}

.feed-tab__item--active .feed-tab__item-title {
    background-color: #e1251b;
    color: #fff;
    display: inline-block;
    width: 70px;
    height: 27px;
    border-radius: 50px;
    padding: 0 5px;
}

.feed-tab__item--active .feed-tab__item-desc {
    color: #e1251b;
}

.more2_list {
    margin: 0 -5px;
    overflow: hidden;
}

.more2_item {
    position: relative;
    float: left;
    width: 230px;
    height: 322px;
    margin: 0 5px 10px;
    background-color: #fff;
}

.more2_item_link {
    display: block;
    width: 100%;
    height: 100%;
}

.more2_item_link_image {
    width: 150px;
    height: 150px;
    margin: 30px auto 40px;
}

.more2_item_link_image > img {
    width: 100%;
    height: 100%;
}

.more2_item_link_info {
    height: 65px;
    padding: 0 20px;
}

.more2_info_name {
    overflow: hidden;
    color: #666;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.more2_info_name > i {
    font-style: normal;
    color: #fff;
    background-color: #e1251b;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 3px;
    margin-right: 3px;
}

.more2_info_price {
    margin-top: 10px;
    color: #e1251b;
    font-weight: 700;
    font-size: 20px;
}

.more2_info_price > i {
    font-size: 12px;
    font-style: normal;
    margin-right: 2px;
}

.ceng {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), #fff);
}

.ceng-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: #383838;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 30px;
}

.ceng-btn > i {
    font-size: 22px;
    margin-right: 5px;
    vertical-align: middle;
}

.more2_item:hover .ceng {
    display: block;
}

/*固定定位  右侧*/
.toolbar-scroll {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
}

.scroll-info {
    position: absolute;
    top: 0;
    right: -6px;
}

.scroll-image {
    width: 90px;
    height: 200px;
    background: url("../image/23c1f4b1bae4ee35.png") no-repeat;
}

.elevator {
    position: fixed;
    top: 200px;
    right: 80px;
    background-color: #fff;
    z-index: 99;
}

.elevator_list > a {
    display: block;
    width: 38px;
    height: 38px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    line-height: 19px;
    text-align: center;
}

.elevator_list > a i {
    display: block;
    font-size: 20px;
    margin-bottom: 3px;
}

.elevator_list_active {
    position: relative;
}

.elevator_list_active > img {
    position: absolute;
    width: 58px;
    left: 0;
    top: 0;
}
.mod_service{
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.mod_service_list{
    height: 42px;
}
.mod_service_item{
    float: left;
    width: 297px;
}
.mod_service_iteminfo{
    width: 180px;
    margin: 0 auto;
    padding-left: 45px;
    position: relative;
}
.mode_icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background: url("../image/23f3ddf914b1b527d0429a3d713cfe3a.png") no-repeat;
}
.icon-pos1{
    background-position: 0 -192px;
}
.icon-pos2{
    background-position: -41px -192px;
}
.icon-pos3{
    background-position: -82px -192px;
}
.icon-pos4{
    background-position: -123px -192px;
}
.mod_service_item_txt{
    color: #444;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
    line-height: 42px;
}
.mod_help_content{
    padding: 20px 0;
    border-bottom: 1px solid  #dedede;
}
.mod_help_list{
    height: 160px;
}
.mod_help_nav{
    float: left;
    width: 198px;
    height: auto;
    line-height: 22px;
}
.mod_help_cover{
    float: right;
    width: 200px;
    height: 150px;

}
.mod_help_nav>h5{
    font-size: 14px;
    margin-bottom: 5px;
}
.mod_help_nav li{
    color: #666;

}
.mod_help_cover_tit{
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}
.mod_help_cover_con{
    padding: 0 10px;
    color: #666;
}
.mod_but {
    text-align: right;
    margin-top: 4px;
}
