@font-face {font-family: 'iconfont';
    src: url('./font/iconfont.eot'); /* IE9*/
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
html {
    font-size: 16px;
    font-family: couriernew, courier, monospace;
}
.top_header{
    background: url("../image/20201021163927159S13.jpg") no-repeat;
    background-size: cover;
    display: flex;
    height: 3rem;
    padding: .5rem;
    flex-direction: row;
}
.logo{
    display: flex;
    flex: 3;
    align-items: center;
}
.logo>a{
    display: inline-block;
}
.logo>a img{

    vertical-align: middle;
}
.menu{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.nav{
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    line-height: 2.1rem;
    background-color: #e9500c;
    text-align: center;
    font-size: 31px;
}
.menu_list{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.25);
}
.close{
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.5rem;
    background-color: #e9500c;
    text-align: center;
    font-size: 31px;
    float: right;
    margin: .5rem;
    color: white;
}
.menu_info{
    background-color: #e9500c;
    clear: both;
}
.menu_info a{
    color: #fff;
}
.menu_info_data li{
    color: #fff;
    line-height: 2rem;
    font-size: 0.9rem;
    padding: 0 0.5rem 0 1.5rem;
}
.w_bot{
    border-bottom: 1px solid rgba(255, 255, 255, 0.56);
}

.s_menu{
    float: right;
    font-size: .8rem;
    transition: all .2s ease-in;
}
.rotateDEG{
    transform: rotate(90deg);
}
.child_menu{
    display: none;
}
.mt40{
    margin-top: 20px !important;
}
.container{
    width: 320px;
    margin: 20px auto 0;
}
.title{
    position: relative;
    padding-left: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    border-bottom: 1px solid #e3e3e3;
}
.icon-1{
    background: url("../image/icon-1.png") no-repeat left center;
}
.title>a{
    position: absolute;
    right: 0;
    top: 8px;
    height: 30px;
    line-height: 30px;
}
.title img{
    width: 100%;
}
.box-new{
    width: 320px;
    margin: 20px auto 0;
}
.fl{
    float: left;
}
.fr{
    float: left;
}
.newfocus{
    position: relative;
    width: 320px;
    height: 300px;
}
.f1{
    float: left;
}
.tempWrap{
    width: 320px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.tempWrap li a{
    display: block;
    width: 320px;
    height: 300px;
}
.focus_text{
    margin-top: 273px;
    position: absolute;
    width: 320px;
    height: 300px;
    right: 0;
    top: 0;
    overflow: hidden;
}
.focus_text ul{
    padding: 25px 30px 0 30px;
}
.focus_text h2{
    height: 50px;
    line-height: 50px;
    position: absolute;
    margin-top: -55px;
    width: 290px;
}
.focus_text h2 a{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.focus_info{
    height: 190px;
    overflow: hidden;
    margin-top: 70px;
}
.mod_desc{

    white-space: normal;
    overflow: hidden;
    color: #888;
    line-height: 30px;
}
.list-new{
    margin-top: 290px;
    width: 320px;
    height: 300px;
    overflow: hidden;
    padding-left: 30px;
}
.list-new li{
    height: 26px;
    width: 260px;
    padding-bottom: 14px;
    font-size: 14px;
    background: url("../image/icon-qd.png") no-repeat left 5px;
    padding-left: 20px;
    transition: all 0.5s ease;
}
.list-new li a{
    display: block;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    width: 182px;
}
.mt41{
    margin-top: 932px;
}
.list-new li:hover>a,.list-notice ul li:hover>a{
    animation: translate 0.2s linear forwards;
}
@keyframes translate {
    from{
        transform: translatex(0px);
    }
    to{
        transform: translate(5px);
    }
}
.icon-2{
    margin-top: 100px;
    background: url("../image/icon-2.png") no-repeat left center;
}
.list-notice ul {
    margin: 0 -20px 0 -20px;
}
.list-notice ul li{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    border-bottom: 1px dashed #DDDDDD;
    margin: 0 20px;
    padding: 10px 0;
    overflow: hidden;
    float: left;
}
.list-notice ul li a{
    display: block;
}
.date{
    float: left;
    width: 56px;
    height: 46px;
    background: rgba(179, 3, 6, 1);
    color: #fff;
    text-align: center;
    transition: all 1.3s ease;
}
.date1{
    position: absolute;
    right: 25px;
    float: right;
    color: #999999;
    width: 70px;
    height: 26px;
    text-align: center;
}
.day{
    display: block;
    font-size: 15px;
    font-style: normal;
    padding-top: 5px;
}
.year{
    display: block;
    font-size: 12px;
    font-style: normal;
    padding-top: 5px;
}
.text{
    float: right;
    width: 298px;
    padding: 2px 0 0 0;
    height: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text h4 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
}