@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot'); /* IE9*/
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./font/iconfont.woff') format('woff'), /* chrome、firefox */ url('./font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('./font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    color: #333;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.head{
    position: relative;
}
.head-top{
    height: 40px;
    background: #343434;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.fr1{
    float: right;
    padding: 0 5px;
    margin-right: 15px;
}
.link{
    color: #ffffff;
    font-size: 11px;
    font-weight: lighter;
    float: left;
}
.link a{
    color: #ffffff;
    font-size: 14px;
    line-height: 40px;
    padding: 0 5px;
    font-weight: normal;
}
.search{
    position: relative;
    width: 42px;
    height: 40px;
    float: right;
    overflow: hidden;
    background: #f0c868;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
}
.slider{
    position: relative;
}
.navBar {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 990;
    color: #fff;
    height: 90px;
    line-height: 90px;
    width: 100%;
    top: 0;
    left: 0;
}
.nav {
    width: 1200px;
    margin: 0 auto;
}
.nav .m {
    position: relative;
    float: left;
    width: 90px;
    margin: 0 0;
    display: inline;
    text-align: center;
}
.nav h3 {
    font-weight: normal;
    font-size: 16px;
}
.nav h3 a {
    zoom: 1;
    padding: 0;
    display: block;
    color: #fff;
    height: 85px;
    line-height: 85px;
}
.nav .logo {
    float: left;
    padding: 13px 23px 0;
    line-height: 1;
}
.nav>.m:hover>a{
    padding: 0;
    border-bottom: 5px solid #dcb350;
    background: #ad0407 url("../image/nav-on-bg.png") no-repeat center 77px;
}

.flexslider{
    background: #fff;
    position: relative;
}
.slides{
    position: relative;
    width: 100%;
    display: block;
    z-index: 2;
}
.slides>img{
    width: 100%;
    height: auto;
}
.mt40{
    margin-top: 40px !important;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.title{
    position: relative;
    padding-left: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    border-bottom: 1px solid #e3e3e3;
}
.icon-1{
    background: url("../image/icon-1.png") no-repeat left center;
}
.title>a{
    position: absolute;
    right: 0;
    top: 8px;
    height: 30px;
    line-height: 30px;
}
.title img{
    width: 100%;
}
.box-new{
    width: 1200px;
    margin: 20px auto 0;
    float: left;
}
.fl{
    float: left;
}
.fr{
    float: left;
}
.newfocus{
    position: relative;
    width: 790px;
    height: 300px;
    background: #f4f4f4;
}
.f1{
    float: left;
}
.tempWrap{
    width: 431px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.tempWrap li a{
    display: block;
    width: 450px;
    height: 300px;
}
.focus_text{
    position: absolute;
    width: 340px;
    height: 300px;
    right: 0;
    top: 0;
    overflow: hidden;
}
.focus_text ul{
    padding: 25px 30px 0 30px;
}
.focus_text h2{
    height: 50px;
    line-height: 50px;
    position: absolute;
    margin-top: -55px;
    width: 290px;
}
.focus_text h2 a{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.focus_info{
    height: 190px;
    overflow: hidden;
    margin-top: 70px;
}
.mod_desc{

    white-space: normal;
    overflow: hidden;
    color: #888;
    line-height: 30px;
}
.list-new{
    width: 360px;
    height: 300px;
    overflow: hidden;
    padding-left: 30px;
}
.list-new li{
    height: 26px;
    width: 360px;
    padding-bottom: 14px;
    font-size: 14px;
    background: url("../image/icon-qd.png") no-repeat left 5px;
    padding-left: 20px;
    transition: all 0.5s ease;
}
.list-new li a{
    display: block;
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    width: 300px;
}
.list-new li:hover>a,.list-notice ul li:hover>a{
    animation: translate 0.2s linear forwards;
}
@keyframes translate {
    from{
        transform: translatex(0px);
    }
    to{
        transform: translate(5px);
    }
}
.icon-2{
    background: url("../image/icon-2.png") no-repeat left center;
}
.list-notice ul {
    margin: 0 -20px 0 -20px;
}
.list-notice ul li{
    box-sizing: border-box;
    width: 46%;
    height: 70px;
    border-bottom: 1px dashed #DDDDDD;
    margin: 0 20px;
    padding: 10px 0;
    overflow: hidden;
    float: left;
}
.list-notice ul li a{
    display: block;
}
.date{
    float: left;
    width: 70px;
    height: 50px;
    background: rgba(179, 3, 6, 1);
    color: #fff;
    text-align: center;
    transition: all 1.3s ease;
}
.date1{
    position: absolute;
    right: 150px;
    float: right;
    color: #999999;
    width: 70px;
    height: 26px;
    text-align: center;
}
.day{
    display: block;
    font-size: 20px;
    font-style: normal;
    padding-top: 5px;
}
.year{
    display: block;
    font-size: 14px;
    font-style: normal;
    padding-top: 5px;
}
.text{
    float: right;
    width: 480px;
    padding: 2px 0 0 0;
    height: 45px;
    overflow: hidden;
}
.text h4 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
}